<p id="notice"><%= notice %></p>
<p>
  <strong>Course Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Img:</strong>
  <%= image_tag(@course.img , size: "100x100") %>
</p>
<p>
  <% @lectures.each do |lecture| %>
    <h3> Lectures </h3>
    <h4> <%= lecture.title %> </h4>
    
    <article>
          <%=  lecture.content.html_safe  %>
    </article>
  <% end %>
</p>