<p id="notice"><%= notice %></p>
<p>
  <strong>Course Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Img:</strong>
  <%= image_tag(@course.img , size: "100x100") %>
</p>
<% if user_signed_in? %>
                            <% if current_user.id == @course.user_id %>
                                <%= link_to 'New Lecture', newlec_path(@course.id.to_s) %>
                                <%= link_to 'Edit Course', edit_course_path(@course) %>
                                <%= link_to 'Delete Course', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
<% end %>
<h3> Lectures </h3>
  <% @lectures.each do |lecture| %>
    <h4> <%= lecture.title %> </h4>
    <article>
          <%=  lecture.content.html_safe  %>
    </article>
    <% if user_signed_in? %>
    <p>
                                    

     <%= link_to "Download Lecture ", dowload_path(lecture.id.to_s),class: 'btn btn-default' %>
        <% if current_user.id == @course.user_id %>
                                        <%= link_to 'Edit Lecture', edit_lecture_path(lecture) %>
                                        <%= link_to 'Delete Lecture', lecture, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    <% end %>
    </p>
    <%= link_to image_tag("Like.jpg" ,  size: "70x50") , like_lecture_path(lecture), method: :put %>
    <%= lecture.get_likes.size  %>
    <%= link_to image_tag("dislike.png" ,  size: "70x30") , dislike_lecture_path(lecture), method: :put %>
    <%= lecture.get_dislikes.size  %>
    <div>
       <%= commontator_thread(lecture) %>
    </div>
    <% end %>
    <hr>
  <% end %>