<p id="notice"><%= notice %></p>
<p>
  <strong>Course Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Img:</strong>
  <%= image_tag(@course.img , size: "100x100") %>
</p>
<p>
  <% @lectures.each do |lecture| %>
    <h3> Lectures </h3>
    <h4> <%= lecture.title %> </h4>
    
    <article>
          <%=  lecture.content.html_safe  %>
    </article>
    
    <% if user_signed_in? %>
    <p>
     <%= link_to "Download Lecture ", dowload_path(lecture.id.to_s),class: 'btn btn-default' %>
    </p>
    <%= link_to image_tag("Like.jpg" ,  size: "70x50") , like_lecture_path(lecture), method: :put %>
    <%= lecture.get_likes.size  %>
    <%= link_to image_tag("dislike.png" ,  size: "70x30") , dislike_lecture_path(lecture), method: :put %>
    <%= lecture.get_dislikes.size  %>
    
    <div>    
       <%= commontator_thread(lecture) %>
    </div>
    <% end %>
    
    
    <hr>
    
  <% end %>
</p>